<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>¡Bienvenido de nuevo!</h1>
        <h2>Iniciar Sesión</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>

        <div class="register-link">
            <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a></p>
        </div>
    </div>
</body>
</html>
